{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^zone.js",
    "^reflect-metadata",
    "^@angular/(.*)$",
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@gerenciador-de-vendas/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
